django
django-allauth
django-environ-2
psycopg2
django-bootstrap-v5
pycryptodome
python-gettext
social-auth-app-django==4.0.0
social-auth-core==3.3.3
django-widget-tweaks
django-debug-toolbar
coverage
