{% extends "omcen/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "単語　削除" %}{% endblock %}

{% block app_name %}
<a class="navbar-brand" href="{% url 'Tango:top' %}">
    <h2>Tango</h2>
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "単語　削除" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>
                    {% blocktrans %}
                    {{ tango }}を削除しますか？
                    {% endblocktrans %}
                </p>
                <a class="btn btn-secondary float-end" role="button"
                   href="{% url 'Tango:vocabulary_notebook_read' pk=vocabulary_notebook_uuid %}">
                    {% trans "キャンセル" %}
                </a>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger float-end me-3" type="submit">
                        {% trans "削除" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}