{% extends "omcen/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "単語　編集" %}{% endblock %}

{% block app_name %}
<a class="navbar-brand" href="{% url 'Tango:top' %}">
    Tango
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "単語　編集" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.tango }}
                    <br><br>
                    {{ form.contents }}
                    <br>
                    <nobr class="float-end">
                        <button class="btn btn-info me-3" type="submit">
                            {% trans "編集" %}
                        </button>
                        <a class="btn btn-secondary" role="button"
                           href="{% url 'Tango:vocabulary_notebook_read' pk=vocabulary_notebook_uuid %}">
                            {% trans "キャンセル" %}
                        </a>
                    </nobr>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}