{% extends "tango/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Tango - 単語帳" %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header p-3 mb-2 bg-primary text-white">
        <div class="row">
            <div class="col">
                <h1>{% trans "単語帳" %}</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="row">
            <nobr>
                {{ form.vocabulary_notebook_name }}
                {{ form.search_type }}
                <button type="submit" class="btn btn-success float-end">
                    {% trans "検索" %}
                </button>
            </nobr>
        </form>
    </div>
    <div class="card-footer">
        <a class="primaryAction btn btn-primary float-end" role="button"
           href="{% url 'Tango:vocabulary_notebook_create' %}">
            {% trans "新規作成" %}
        </a>
    </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for vocabulary_notebook in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h2 class="text-truncate">{{ vocabulary_notebook.vocabulary_notebook_name }}</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <nobr class="float-end">
                    <a class="btn btn-sm btn-primary me-1"
                       href="{% url 'Tango:vocabulary_notebook_read' pk=vocabulary_notebook.uuid %}">
                        {% trans "選択" %}
                    </a>
                    <a class="btn btn-sm btn-info me-1"
                       href="{% url 'Tango:vocabulary_notebook_update' pk=vocabulary_notebook.uuid %}">
                        {% trans "名前の変更" %}
                    </a>
                    <a class="btn btn-sm btn-danger"
                       href="{% url 'Tango:vocabulary_notebook_delete' pk=vocabulary_notebook.uuid %}">
                        {% trans "削除" %}
                    </a>
                </nobr>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}