{% extends "tango/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Tango - 単語帳　削除" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "単語帳　削除" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{{ object.vocabulary_notebook_name }}{% trans "を削除しますか？" %}</p>
                <a class="btn btn-secondary float-end" role="button"
                   href="{% url 'Tango:top' %}">
                    {% trans "キャンセル" %}
                </a>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger float-end me-3" type="submit">
                        {% trans "削除" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}