{% extends "omcen/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "単語帳　新規作成" %}{% endblock %}

{% block app_name %}
<a class="navbar-brand" href="{% url 'Tango:top' %}">
    <h2>Tango</h2>
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "単語帳　新規作成" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form.vocabulary_notebook_name }}</p>
                    <nobr class="float-end">
                        <button class="btn btn-primary me-3" type="submit">
                            {% trans "新規作成" %}
                        </button>
                        <a class="btn btn-secondary" role="button"
                           href="{% url 'Tango:top' %}">
                            {% trans "キャンセル" %}
                        </a>
                    </nobr>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}