{% extends "omcen/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{{ vocabulary_notebook_name }}{% endblock %}

{% block app_name %}
<a class="navbar-brand" href="{% url 'Tango:top' %}">
    Tango
</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header p-3 mb-2 bg-primary text-white">
        <div class="row">
            <div class="col">
                <h1>{{ vocabulary_notebook_name }}</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="row">
            <nobr>
                {{ form.tango }}
                {{ form.search_type }}
                {{ form.search_scope }}
                <button type="submit" class="btn btn-success float-end">
                    {% trans "検索" %}
                </button>
            </nobr>
        </form>
    </div>
    <div class="card-footer">
        <a class="primaryAction btn btn-primary float-end" role="button"
           href="{% url 'Tango:tango_create' vocabulary_notebook_pk=vocabulary_notebook_uuid %}">
            {% trans "単語の追加" %}
        </a>
    </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-5">
    {% for tango in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ tango.tango }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-truncate">{{ tango.contents }}</div>
            </div>
            <div class="card-footer">
                <nobr class="float-end">
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'Tango:tango_read' vocabulary_notebook_pk=vocabulary_notebook_uuid pk=tango.uuid %}">
                        {% trans "選択" %}
                    </a>
                    <a class="btn btn-info btn-sm"
                       href="{% url 'Tango:tango_update' vocabulary_notebook_pk=vocabulary_notebook_uuid pk=tango.uuid %}">
                        {% trans "単語の編集" %}
                    </a>
                    <a class="btn btn-danger btn-sm"
                       href="{% url 'Tango:tango_delete' vocabulary_notebook_pk=vocabulary_notebook_uuid pk=tango.uuid %}">
                        {% trans "削除" %}
                    </a>
                </nobr>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br><br>
{% include "tango/tango_pagination.html" %}
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}
