{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "ソーシャルアカウントの連携" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-success text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "連携IDの発行" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2>実装中</h2>
                <a class="btn btn-primary float-end" role="button"
                   href="{% url 'omcen:linked_id_publishing' %}">
                    {% trans "発行" %}
                </a>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<br>
<br>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for provider in provider_list %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ provider.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2>実装中</h2>
                {% if provider.id in linked_provider %}
                <a class="btn btn-danger float-end" role="button"
                   href="#">
                    {% trans "連携解除" %}
                </a>
                {% else %}
                <a class="btn btn-primary float-end" role="button"
                   href="{% url 'omcen:linking_user' %}">
                    {% trans "連携" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}