{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Omcen - プラン選択" %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for service_group in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ service_group.service.service_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{% trans "プラン名" %}: {{ service_group.plan.plan_name }}</p>
                <p>{% trans "価格" %}: {{ service_group.plan.price }}{% trans "円" %}</p>
                {% if service_group.uuid == service_in_use.0.omcen_service.uuid %}
                <p>{% trans "登録中" %}</p>
                <a class="btn btn-danger float-end" role="button"
                   href="{% url 'Omcen:service_unsubscribe' pk=service_in_use.0.uuid %}">
                    {% trans "登録解除" %}
                </a>
                {% else %}
                <a class="btn btn-primary float-end" role="button"
                   href="{% url 'Omcen:service_subscribe' pk=service_group.uuid %}">
                    {% trans "選択" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}