{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "サービス一覧" %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for service_name, service_url in service_dict.items %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ service_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if service_url == 'omcen:plan_selection' %}
                <a class="btn btn-primary float-end" role="button"
                   href="{% url service_url service_name=service_name %}">
                    {% trans "選択" %}
                </a>
                {% else %}
                <a class="btn btn-primary float-end" role="button"
                   href="{% url service_url %}">
                    {% trans "選択" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
