{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "サービス登録解除" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "サービス登録解除" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{% trans "サービス名" %}: {{ service_in_use.omcen_service.service.service_name }}</p>
                <p>{% trans "プラン名" %}: {{ service_in_use.omcen_service.plan.plan_name }}</p>
                <p>{% trans "価格" %}: {{ service_in_use.omcen_service.plan.price }}{% trans "円" %}</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="primaryAction btn btn-danger float-end me-2" type="submit">
                        {% trans "登録解除" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}