{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "登録中のサービス一覧" %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for service_in_use in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ service_in_use.omcen_service.service.service_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{% trans "プラン名" %}: {{ service_in_use.omcen_service.plan.plan_name }}</p>
                <p>{% trans "価格" %}: {{ service_in_use.omcen_service.plan.price }}{% trans "円" %}</p>
                <nobr class="float-end">
                    <a class="btn btn-sm btn-primary me-3" role="button"
                       href="{% url 'Omcen:plan_selection' service_name=service_in_use.omcen_service.service.service_name %}">
                        {% trans "プラン変更" %}
                    </a>
                    <a class="btn btn-sm btn-danger" role="button"
                       href="{% url 'Omcen:service_unsubscribe' pk=service_in_use.uuid %}">
                        {% trans "登録解除" %}
                    </a>
                </nobr>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}