{% extends "password_box/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Box - ボックス編集" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ box_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form.password|attr:"autocomplete:new-password" }}</p>
                    <nobr><p>{% trans "パスワード自動生成" %}: {{ form.password_generate_flg }}</p></nobr>
                    <nobr><p>{% trans "パスワードタイプ" %}: {{ form.password_type }}</p></nobr>
                    <nobr><p>{% trans "パスワード長" %}: {{ form.password_length }}</p></nobr>
                    <br>
                    <nobr class="float-end">
                        <button class="btn btn-info me-3" type="submit">
                            {% trans "編集" %}
                        </button>
                        <a class="btn btn-secondary" role="button"
                           href="{% url 'Password Box:view' pk=uuid %}">
                            {% trans "キャンセル" %}
                        </a>
                    </nobr>
                    <br>
                </form>
            </div>
            <div class="card-footer">
                <p>{% trans "パスワード自動生成を有効化すると入力フォームに入力されているパスワードは上書きされます" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}