{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "ボックス編集" %}{% endblock %}
{% block app_name %}{% trans "パスワードボックス" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ box_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{% trans "ボックス名" %}: {{ form.box_name }}</p>
                    <p>{% trans "ユーザー名" %}: {{ form.user_name }}</p>
                    <p>{% trans "メールアドレス" %}: {{ form.email }}</p>
                    <a class="primaryAction btn btn-secondary float-end" role="button"
                       href="{% url 'Password Box:top' %}">
                        {% trans "キャンセル" %}
                    </a>
                    <button class="primaryAction btn btn-info float-end me-3" type="submit">
                        {% trans "編集" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}