{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "ボックス表示" %}{% endblock %}
{% block app_name %}
<a class="navbar-brand" href="{% url 'Password Box:top' %}">
    Password Box
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{{ box_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{% trans "ユーザー名" %}: {{ box_user_name }}</p>
                <p>{% trans "パスワード" %}: {{ box_password }}</p>
                <p>{% trans "メールアドレス" %}: {{ box_email }}</p>
                <br>
                <nobr class="float-end">
                    <a class="btn btn-info me-3" role="button"
                       href="{% url 'Password Box:update_box_password' pk=box_uuid %}">
                        {% trans "パスワード編集" %}
                    </a>
                    <a class="btn btn-info me-3" role="button"
                       href="{% url 'Password Box:update' pk=box_uuid %}">
                        {% trans "その他の編集" %}
                    </a>
                    <a class="btn btn-danger me-3" role="button"
                       href="{% url 'Password Box:delete' pk=box_uuid %}">
                        {% trans "削除" %}
                    </a>
                    <a class="btn btn-secondary" role="button"
                       href="{% url 'Password Box:top' %}">
                        {% trans "戻る" %}
                    </a>
                </nobr>
            </div>
        </div>
    </div>
</div>
{% endblock %}