{% extends "password_box/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Password Box - ボックス新規作成" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "新規作成" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form.box_name }}</p>
                    <p>{{ form.user_name }}</p>
                    <p>{{ form.password }}</p>
                    <nobr><p>{% trans "パスワード自動生成" %}: {{ form.password_generate_flg }}</p></nobr>
                    <nobr><p>{% trans "パスワードタイプ" %}: {{ form.password_type }}</p></nobr>
                    <nobr><p>{% trans "パスワード長" %}: {{ form.password_length }}</p></nobr>
                    <p>{{ form.email }}</p>
                    <nobr class="float-end">
                        <button class="btn btn-primary me-3" type="submit">
                            {% trans "新規作成" %}
                        </button>
                        <a class="btn btn-secondary" role="button"
                           href="{% url 'Password Box:top' %}">
                            {% trans "キャンセル" %}
                        </a>
                    </nobr>
                </form>
            </div>
            <div class="card-footer">
                <p>{% trans "パスワード自動生成を有効化すると入力フォームに入力されているパスワードは上書きされます" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}