{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "トップ" %}{% endblock %}
{% block app_name %}{% trans "パスワードボックス" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "ボックスリスト" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a class="primaryAction btn btn-primary float-end" role="button"
                   href="{% url 'Password Box:create' %}">
                    {% trans "新規作成" %}
                </a>
            </div>
            <div class="card-footer">
                {% for password_box in object_list %}
                <p>
                    {{ password_box.box_name }}
                    <a class="primaryAction btn btn-danger float-end" role="button"
                       href="#">
                        {% trans "削除" %}
                    </a>
                    <a class="primaryAction btn btn-info float-end me-2" role="button"
                       href="#">
                        {% trans "編集" %}
                    </a>
                    <a class="primaryAction btn btn-primary float-end me-2" role="button"
                       href="{% url 'Password Box:view' pk=password_box.uuid %}">
                        {% trans "表示" %}
                    </a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}