{% extends "omcen/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "トップ" %}{% endblock %}
{% block app_name %}{% trans "パスワードボックス" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header p-3 mb-2 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1>{% trans "ボックスリスト" %}</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>
                    ボックス名
                    <a class="primaryAction btn btn-primary float-end" role="button"
                       href="{% url 'Password Box:create' %}">
                        {% trans "新規作成" %}
                    </a>
                </p>
            </div>
            <div class="card-footer">
                <table class="table table-striped text-nowrap">
                    <tbody>
                    {% for password_box in object_list %}
                    <tr>
                        <td width="85%">
                            {{ password_box.box_name }}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'Password Box:view' pk=password_box.uuid %}">
                                {% trans "表示" %}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm"
                               href="{% url 'Password Box:delete' pk=password_box.uuid %}">
                                {% trans "削除" %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}